* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #0d1418; 
    font-family: Arial, sans-serif;
    color: #e9edef; 
}

.app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-main-screen {
    display: flex;
    width: 90%;
    max-width: 1600px;
    height: 95vh;
    background-color: #111b21; 
    border-radius: 5px; 
    overflow: hidden; 
}


.sidebar {
    width: 35%; 
    min-width: 300px; 
    border-right: 1px solid #2f3438;
    display: flex;
    flex-direction: column; 
    height: 100%;
}

.sidebar-header {
    height: 59px;
    background-color: #202c33; 
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2f3438;
}

.chat-window {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    background-color: #0b141a; 
}

.chat-body {
    flex-grow: 1; 
    padding: 10px;
    overflow-y: auto; 
}

.chat-input-area {
    height: 62px;
    background-color: #202c33; 
    padding: 10px 15px;
    display: flex; 
    align-items: center;
}

.placeholder-view {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    color: #8696a0;
}

.message-bubble {
    padding: 8px 10px;
    border-radius: 8px;
    margin: 5px 0;
    max-width: 60%;
    position: relative;
    font-size: 0.9em;
}

.message-bubble p {
    margin-bottom: 5px;
}

.message-in {
    background-color: #202c33;
    align-self: flex-start;
    margin-right: auto;
}

.message-out {
    background-color: #005c4b; 
    align-self: flex-end;
    margin-left: auto; 
}

.message-time {
    display: block;
    text-align: right;
    font-size: 0.7em;
    color: #8696a0;
    margin-top: -3px;
}

.input-field {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #2a3942;
    color: #e9edef;
    margin-right: 15px;
    outline: none;
}

.send-button {
    padding: 10px 15px;
    background-color: #005c4b;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}